body {
  font-family: 'Helvetica', sans-serif;
  width: 60%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 6em;
}

.logo {
  width: 200px;
  height: auto;
}